<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Cashless</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="navigation">
    <img src="/images/cashless_inverse_rond.png" alt="Image 1" height="90" width="90">
    <a href="">Projet CashLess</a>
    <img src="/images/carre-noir.png" height="90" width="90">

</div>

<div class="title-container">
    <div class="main-title"><h2>Error : <%= error.status %></h2></div>
    <img src="/images/cashlessLogo_error.webp" alt="Image 1">
</div>

<h1><a href="/">Cliquez ici pour retourner à l'acceuil</a></h1>

<br><br><br><br>
</body>
</html>
