<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Cashless</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
<div class="navigation">
    <img src="/images/cashless_inverse_rond.png" alt="Logo cashLess" height="90" width="90">
    <ul>
         <li><a href="/">FESTIVAL CASHLESS</a></li>

    </ul>
    <img src="/images/carre-noir.png" height="90" width="90">
</div>
</body>
</html>
