<% include header.ejs%>

<div class="title-container">
  <div class="main-title">Projet CashLess</div>
  <div class="subtitle">Quel bénévole êtes-vous ?</div>
</div>

<div class="image-container" >
  <a href="identification">
    <img src="/images/benevoleCredit.webp" alt="Image 1">
  </a>
  <a href="vente">
    <img src="/images/benevoleVente.webp" alt="Image 2">
  </a>
</div>

<p class="attributs">Créditeur<span class="testespace"></span> Vendeur</p>
<br><br><br><br>
</body>
<script>


</script>

</html>
