<% include header.ejs%>

<div class="title-container">
    <div class="main-title">Page ADMIN</div>
    <div class="subtitle">Que voulez-vous faire ?</div>
</div>

<div class="image-container" >
    <a href="ajouterBenevole">
        <img src="/images/benevoleCredit.webp" alt="Image 1">
    </a>
    <a href="choixStandAdmin">
        <img src="/images/benevoleVente.webp" alt="Image 2">
    </a>
</div>
<p class="attributs">Ajouter Benevole<span class="testespace"></span>Ajouter Stock</p>
<br><br><br><br>

<div class="image-container" >
    <a href="ajouterStand">
        <img src="/images/benevoleCredit.webp" alt="Image 1">
    </a>
    <a href="ajouterProduit">
        <img src="/images/benevoleVente.webp" alt="Image 2">
    </a>
</div>

<p class="attributs">Ajouter Stand<span class="testespace"></span>Ajouter Produit</p>
<br><br><br><br>
</body>
<script>


</script>

</html>