<% include header.ejs%>
<html>
<div class="title-container">
    <div class="main-title">Page ADMIN</div>
    <div class="subtitle">Que voulez-vous faire ?</div>
</div>

<div class="image-container" >
    <a href="ajouterBenevole">
        <img src="/images/ajouterBenevoleDef.png" alt="Image 1">
    </a>
    <a href="choixStandAdmin">
        <img src="/images/ajouterStockDef.png" alt="Image 2">
    </a>
</div>
<p class="attributs">Ajouter Benevole<span class="testespace"></span>Ajouter Stock</p>

<div class="image-container" >
    <a href="ajouterStand">
        <img src="/images/ajouterStandDef.png" alt="Image 1">
    </a>
    <a href="ajouterProduit">
        <img src="/images/ajouterProduitDef.png" alt="Image 2">
    </a>
</div>

<p class="attributs">Ajouter Stand<span class="testespace"></span>Ajouter Produit</p>
<br><br><br><br>

<div class="image-container" >
    <a href="choisirBenevole">
        <img src="/images/ajouterStandDef.png" alt="Image 1">
    </a>
    <a href="choisirProduit">
        <img src="/images/ajouterProduitDef.png" alt="Image 2">
    </a>
</div>

<p class="attributs">Modifier Benevole<span class="testespace"></span>Modifier Produit</p>
<br><br><br><br>

<div class="image-container" >
    <a href="supprimerBenevole">
        <img src="/images/ajouterStandDef.png" alt="Image 1">
    </a>
    <a href="supprimerProduit">
        <img src="/images/ajouterProduitDef.png" alt="Image 2">
    </a>
</div>

<p class="attributs">Supprimer Benevole<span class="testespace"></span>Supprimer Produit</p>
<br><br><br><br>

<div class="image-container" >
    <a href="supprimerStand">
        <img src="/images/ajouterStandDef.png" alt="Image 1">
    </a>
    <a href="/">
        <img src="/images/ajouterProduitDef.png" alt="Image 2">
    </a>
</div>

<p class="attributs">Supprimer Stand<span class="testespace"></span>Statistiques</p>
<br><br>
<div class="retour-boutton">
    <a href="/"><button class="submit-button">Retour a la page Admin</button></a>
</div>
<br><br>
</body>
<script>


</script>

</html>