<% include header.ejs%>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="input-container">
    <span class="validation" style="font-size: 40px;">Scannez la carte puis cliquez sur ce bouton.</span>
</div>
<br>
<br>
<br>
<div class="input-container">
    <a href="/credit" ><button class="submit-button" style="height: 80px;">Accéder à la page de crédit</button></a>
</div>

<div class="retour-boutton">
    <a href="/"><button class="submit-button">Retour au menu</button></a>
</div>

</html>
