<% include header.ejs%>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="input-container">
    <span class="validation" style="font-size: 40px;">Scannez la carte puis attendez la réponse sur le telephone.</span>
</div>
<br>
<br>
<br>
<div class="retour-boutton">
    <a href="/"><button class="submit-button">Retour à la connexion</button></a>
</div>
<script>
    // Récupérer les paramètres de requête de l'URL
    const urlParams = new URLSearchParams(window.location.search);
    const result = urlParams.get('result');
    const message = urlParams.get('message');

    // Afficher un pop-up en fonction du résultat
    if (result === 'success') {
        alert(message);
    } else if (result === 'error') {
        alert('Erreur : ' + message);
    }
</script>
</html>
