<% include header.ejs %>
<div class="title-container">
    <div class="main-title">Choisir le produit à supprimer</div>
</div>
<br><br>
<form action="/supprStand" method="POST" class="form-container">
    <label for="benevole">Choisir un Stand :</label>
    <select name="id" id="stand">
        <% stands.forEach(stand => { %>
            <option value="<%= stand.id %>"><%= stand.nom %></option>
        <% }); %>
    </select>
    <button type="submit">Supprimer</button>
</form>
<br><br>
<div class="retour-boutton">
    <a href="/pageAdmin"><button class="submit-button">Retour a la page Admin</button></a>
</div>
<br><br>

