<% include header.ejs%>


<div class="title-container">
    <div class="main-title"><%= title %></div>
</div>

<br>
<br>
<br>
<div class="title-container"><div class="subtitle">Sélectionnez votre stand</div></div>

<br>
<br>
<br>
<!-- Affichage des stands -->
<div class="stands-container">
    <% nombreDeStands.forEach(function(stand, i) { %>
        <div class="stand" onclick="showStandInfo(<%= i %>)">
            <a href="/choixvente?stand=<%=stand.id%>">
                <!-- Ajoutez la classe stand-image à cet élément span -->
                <span class="stand-image"></span>
            </a>
            <span class="stand-name"><%= stand.nom %></span>
        </div>
    <% }); %>
</div>


<br>
<br>
<br>
<div class="retour-boutton">
    <a href="/pageAdmin"><button class="submit-button">Retour au menu</button></a>
</div>


</body>
</html>
