body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: black;
}

.navigation {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  border-bottom: 2px solid #555;
  align-items: center;
  display: flex;
}



.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline;
  margin-right: 20px;
  margin: 0 10px; /* Ajout de marge horizontale */
}

.navigation ul li a {
  text-decoration: none;
  color: #fff; /* Couleur des liens */
  font-weight: bold;
}

.navigation ul li a:hover {
  color: #ffd700; /* Couleur au survol */
}

.title-container {
  text-align: center;
  margin-top: 30px;

}

.main-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 36px;
  color: black;
}

.product_title {
  font-weight: bold;
  font-size: 46px;
  color: black;
}

.subtitle {
  margin-top: 15px;
  font-size: 28px;
  color: black;
  text-underline: black;
  text-decoration: underline;
}

.sub-subtitle {
  margin-top: 15px;
  font-size: 22px;
  color: black;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.image-container a {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 0 10px;
}

.image-container img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.navigation a {
  color: white;
  margin: 0 2px;
  text-decoration: none;
  flex: 1;
}

.navigation a:hover {
  color: gray;
}

.navigation img {
  margin-right: auto;
}

.attributs{
  text-align: center;
  font-size: 28px;
  color: black;
  margin-left: -9px;
}
.testespace{
  margin-right: 380px;
}

.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

.retour-boutton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.retour-boutton button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}


.input-box {
  width: 200px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
  color: #888;
  align-items: center;
}

.input-box:focus {
  color: black;
}
.validation{
  margin-top: 15px;
  font-size: 22px;
  color: black;
  font-weight: bold;
}

.submit-button {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 204px;
  background-image: url('../images/dark_check.png');
}
.submit-button:hover {
  background-color: black;
  color: white;
}

.stand:hover {
  background-color: black; /* Couleur de fond inversée */
  color: white; /* Couleur du texte inversée */
}
.stands-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.stand {
  border: 2px solid black; /* Bordure noire */
  border-radius: 6px; /* Coins moins arrondis */
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 150px; /* Ajustez la largeur selon vos besoins */
}

.stand-image {
  display: inline-block;
  width: 100px; /* Largeur de l'image */
  height: 100px; /* Hauteur de l'image */
  background-image: url("../images/stand.png"); /* Image de fond */
  background-size: cover; /* Ajuste la taille de l'image pour couvrir le conteneur */
  border-radius: 15px; /* Coins arrondis */
  background-position: center; /* Centre l'image horizontalement */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

/* Au survol de la classe stand */
.stand:hover .stand-image {
  background-image: url("../images/stand-modified.png"); /* Changement de l'image de fond au survol */
}


.stand-name {
  display: block;
  margin-top: 10px;
}

.stand img {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.product-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 2px;


}

.product-container th, .product-container td {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 12px;
  font-size: 18px;
  border-color: black;
  border-radius: 2px;
}

.product-container th {
  background-color: #f2f2f2;
  border-radius: 2px;
  background-color: black;


}

.product-container td button {
  margin: 0 10px;
  padding: 8px 12px;
  font-size: 18px; /
}

.table-header {
  background-color: black;
  color: white;
}

.error-input {
  border-color: red;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}


.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation ul li {
  margin-right: 20px;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.title-container {
  text-align: center;
  margin-top: 30px;
}

.main-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #000; /* Ajout de la bordure noire */
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: black;

}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="password"],
.form-container select option,
.form-container select
{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #000; /* Ajout de la bordure noire */
}


.form-container button[type="submit"] {
  background-color: black;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #555;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}
.subtitle_stand{
  text-decoration: underline;
  font-weight: bold;
}
input[type="checkbox"] {
  display: none; /* Masquer la case à cocher par défaut */
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #000; /* Couleur de la bordure noire */
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 4px; /* Pour arrondir un peu les bords des checkbox */
  border-color: black;
}

/* Style des labels des cases à cocher lorsqu'elles sont cochées */
input[type="checkbox"]:checked + label::before {
  content: "\2714"; /* Code Unicode du symbole du V */
  color: white;
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 12px; /* Taille de la police pour ajuster la taille du V */
  line-height: 13px;
  text-align: center;
  border: 2px solid #000; /* Couleur de la bordure noire */
  margin-right: 8px;
  vertical-align: middle;
  background-color: black;
}
input[type="number"]:disabled {

  border: 2px solid #000;

}
input[type="number"]:enabled {
  border: 2px solid #000;
}

input[type="text"]:disabled {

  border: 2px solid #000;

}
input[type="text"]:enabled {
  border: 2px solid #000;
}

input[type="password"]:disabled {

  border: 2px solid #000;

}
input[type="password"]:enabled {
  border: 2px solid #000;
}
.stand-title{
  text-align: center; /* Pour centrer le texte */
  font-weight: bold; /* Pour mettre le texte en gras */
  font-size: 40px; /* Pour définir une taille de police plus grande */
  text-decoration: underline;;
}



